/* Adjust the chat widget width for larger screens */
.vfrc-widget--chat {
  width: 600px;
  }

/* Set max-width for system response messages within the list */
.vfrc-system-response--list .vfrc-message--chat {
  max-width: 460px;
  width: 100%; /* Adjust to full width on smaller screens */
}

/* Style the chat container */
.vfrc-chat {
  background: linear-gradient(to right, #3498db, #6bb9d7); /* Gradient background for the chat container */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Style the chat header */
.vfrc-header {
  background: linear-gradient(to right, #2979b5, #5d99b8); /* Gradient background for the chat header */
  color: #fff; /* White text for better contrast */
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

/* Style the assistant information */
.vfrc-assistant-info--title,
.vfrc-assistant-info--description,
.vfrc-timestamp,
.vfrc-message,
.vfrc-input,
.vfrc-chat-input--button,
.vfrc-footer--watermark {
  color: #000; /* Black text for better contrast */
}

/* Style the chat messages */
.vfrc-message {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for messages */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
}

/* Style the user's messages */
.vfrc-user-response .vfrc-message {
  background-color: rgba(255, 255, 255, 0.6); /* Slightly more transparent white for user's messages */
}

/* Style the assistant's messages */
.vfrc-system-response .vfrc-message {
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white for assistant's messages */
}

/* Style the message input field */
.vfrc-input {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: calc(100% - 20px);
}

/* Style the send button */
.vfrc-chat-input--button {
  background: linear-gradient(to right, #3498db, #6bb9d7); /* Gradient background for the send button */
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Add hover effect to buttons */
.vfrc-button {
  background: linear-gradient(to right, #3498db, #6bb9d7); /* Gradient background for buttons */
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.vfrc-button:hover {
  background: linear-gradient(to right, #2979b5, #5d99b8); /* Darker gradient on hover */
}
